<%= form_for @user do |f| %>
  <div>
    <form>
      <%= f.label :username, "Username:" %>
      <br>
      <%= f.text_field :username, placeholder: "Juan Palma" %>
      <br>
      <%= f.label :email, "Email:" %>
      <br>
      <%= f.email_field :email, placeholder: "juan@example.com " %>
      <br>
      <%= f.label :password, "Password:" %>
      <br>
      <%= f.password_field :password, placeholder: "12345" %>
      <br>
      <br>
      <%= f.submit %>
      </form>
  </div>
<% end %>